# Directories
Binaries
DerivedDataCache
Intermediate
Saved
Build
**/Geometry
**/Mannequin
**/ThirdPerson
**/ThirdPersonBP
**/LearningKit_Games
**/MilitaryWeapSilver
**/AnimStarterPack
.vscode
.vs

#Files
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace